<div class="container">
  <div class="card summary" (click)="onClickSummary(summary)">
    <p><b>Nädal</b></p>
    <p class="date">{{summary.startDate}}-{{summary.endDate}}</p>
    <p>Eelbroneeringuid: <b>{{summary.appointments}}</b></p>
    <p>Vabad ajad: <b>{{summary.freetimes}}</b></p>
  </div>
  <button class="arrow back" (click)="handleBack()">
    <img src="/assets/left-arrow.png" />
  </button>
  <div class="slider-container">
    <div class="slider">
      <div *ngFor="let item of selectedDates; let i = index" class="card" (click)="onClickDate(item)">
        <p class="day"><b>{{days[i + 1]}}</b></p>
        <p class="date">{{item.date}}</p>
        <p>Eelbroneeringuid: <b>{{item.appointments}}</b></p>
        <p>Vabad ajad: <b>{{item.freetimes}}</b></p>
      </div>
    </div>
  </div>
  <button class="arrow next" (click)="handleNext()">
    <img src="/assets/right-arrow.png" />
  </button>
</div>