.container {
  display: flex;
  color: #555;

  p {
    margin: 0;
    font-size: 14px;
  }

  .card {
    width: 180px;
    box-sizing: border-box;
    margin: 0 5px;
    border: 1px solid #999;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;

    &:hover {
      background-color: #eeeeeeE0;
    }

    .day {
      text-transform: uppercase;
    }

    .date {
      font-size: 11px;
      margin-top: 4px;
      margin-bottom: 8px;
    }
  }

  .arrow {
    border: 1px solid #999;
    border-radius: 8px;
    background: transparent;
    margin: 0 5px;
    cursor: pointer;

    img {
      width: 16px;
      opacity: 0.5;
    }
  }
}

.slider-container {
  .slider {
    display: flex;
  }
}